body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    background-color: #5B359D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__title {
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-top: 25px;
}

.nav__burger {
    height: 17px;
    margin-top: 25px;
    margin-right: 25px;
}

.nav__logo {
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
}

.nav__links {
    display: flex;
    flex-direction: column;
}

.nav__link {
    font-size: 15px;
    color: black;
    margin-left: 35px;
    margin-top: 15px;
    text-decoration: none;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image/noz-portail-149-1.png);
    background-size: cover;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header__link {
    display: flex;
    align-items: center;
    background-color: #5B359D;
    text-decoration: none;
    width: 220px;
    height: 60px;
}

.header__logo {
    height: 22px;
    margin-left: 15px;
}

.header__paragraphe {
    font-size: 14px;
    color: white;
    font-style: italic;
    margin-left: 7px;
}

.header__title {
    color: white;
    font-size: 33px;
    font-weight: lighter;
}

.main__note {
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 25px;
    padding: 20px;
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.main__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__img {
    height: 65px;
    padding-top: 20px;
}

.main__title {
    font-weight: lighter;
    font-size: 21px;
}

.main__paragraphe {
    font-size: 16px;
    text-align: center;
}

.main__comment {
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 25px;
    padding: 23px;
}

.main__auteur {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.footer {
    background-color: #5B359D;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer__text {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.footer__logo {
    color: rgba(255, 255, 255, 0.5);

}

.footer__paragraphe {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-left: 20px;
}

.footer__link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.footer__info {
    color: white;
    font-weight: bold;
    margin-left: 60px;
}

@media screen and (min-width: 481px) {

    nav {
        display: flex;
        justify-content: space-between;

    }

    .nav__title {
        padding: 5px 100px 5px 10px;
    }

    .nav__logo {
        padding: 10px 0px 10px 25px;
    }

    .nav__links {
        display: flex;
        flex-direction: row;
        margin: 15px 15px 0px 0px;
    }

    .nav__burger {
        display: none;
    }

    .header {
        margin-top: 0%;
        height: 600px;
    }

    .main__section {
        padding: 0;
        margin: 0;
    }

    .main__container {
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;

    }

    .main__paragraphe {
        max-width: 300px;
    }

    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__link,
    .footer__info {
        margin: 0%;
        padding: 0;
    }

    .footer__items {
        display: flex;
        flex-direction: column;
    }

    .footer__paragraphe {
        margin-left: 0;
    }
}

@media screen and (min-width: 769px) {
    .main__container {
        flex-wrap: nowrap;
        gap: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .main__container{
        margin-bottom: 40px;
    }
}