body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav {
    background-color: #5B359D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__title {
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-top: 25px;
}

.nav__burger {
    height: 17px;
    margin-top: 25px;
    margin-right: 25px;
}

.nav__logo {
    height: 40px;
    margin-top: 10px;
    margin-left: 25px;
}

.nav__links {
    display: flex;
    flex-direction: column;
}

.nav__link {
    font-size: 15px;
    color: black;
    margin-left: 35px;
    margin-top: 15px;
    text-decoration: none;
}

.header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image/noz-portail-149\ 1.png);
    background-size: cover;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header__link {
    display: flex;
    align-items: center;
    background-color: #5B359D;
    text-decoration: none;
    width: 220px;
    height: 60px;
}

.header__logo {
    height: 22px;
    margin-left: 15px;
}

.header__paragraphe {
    font-size: 14px;
    color: white;
    font-style: italic;
    margin-left: 7px;
}

.header__title {
    color: white;
    font-size: 33px;
    font-weight: lighter;
}

.main__note {
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 25px;
    padding: 20px;
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.main__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__img {
    height: 65px;
    padding-top: 20px;
}

.main__title {
    font-weight: lighter;
    font-size: 21px;
}

.main__paragraphe {
    font-size: 16px;
    text-align: center;
}

.main__comment {
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    font-size: 25px;
    padding: 23px;
}

.main__auteur {
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.footer {
    background-color: #5B359D;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer_text {
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_logo {
    color: rgba(255, 255, 255, 0.5);
    height: 35px;
    width: 35px;
}

.footer_paragraphe {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    margin-left: 20px;
}

.footer_link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

.footer_info {
    color: white;
    font-weight: bold;
    margin-left: 60px;
}
@media screen and (min-width: 481px) {

}
@media screen and (min-width: 769px) {
}
   
@media screen and (min-width: 1280px) {
}